body {
  min-width: 372px;
}

.wrapper {
  min-height: 100vh;
}

.price-red {
  color: #ff0000;
}
.price-green {
  color: #008000;
}
.carrinho {
  background: #15d515fb;

  color: #ffffff;
}

.img-h {
  min-height: 233.74px;
  max-height: 301.18px;
}
